li {
    list-style: none;
}
.wrapper {
    width:95%;
    margin:0 auto;
    max-width:90em;
}
nav>ul>li {
    display:inline-block;
    margin-right:2em;
}
nav>ul>li>a {
    line-height: 1;
    text-transform: capitalize;
}

.text-center {
    text-align:center;
}